</br></br></br></br>
<div class="jumbotron">
<div class="container">
<h1 class="name">Login</h1>
<div class="form_inline">
  <%= form_tag @sessions_path do %>
    <div class="form-group">
      <%= label_tag :email, nil, class:"control-label" %>
      <%= text_field_tag :email, nil, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class:"control-label" %>
      <%= password_field_tag :password, nil, class:"form-control" %>
    </div>

    <div class="buttons"><%= submit_tag "Login", class:"btn btn-primary" %>  <%= link_to "Create Account", new_user_path, class:"btn btn-default" %></div>
  
  <% end %>
</div>
</div>
</div>
