</br></br></br></br>
<div class="jumbotron">
<div class="container">
<div class="orders">
<h2 class="instructions">Admin Dashboard</h2></br>
<%= link_to "View Items", admin_items_path, class: "btn btn-default", id: "items_button"%>
<div class='status'>
</br><h2>All Orders:</h2>
<h3>Sort by Status</h3>
<%= form_tag admin_dashboard_path, method: 'get' do %>
  <%= select_tag :status, options_for_select([:ordered, :paid, :cancelled, :completed]), include_blank: false, class: "dropper" %>
  <%= submit_tag 'Sort', id: "search_button" %>
<% end %>
</div>
<div class='container'>
  <% @status_list.each do |stat, count| %>
    <%= "(#{count}) total #{stat} orders." %>
  <% end %>
</div class='container'>
<% @orders.each do |order| %>
  <div class="panel panel-default">
    <p class="instructions"><%= order.status.capitalize %> order from <%= order.created_at %> <%= pluralize(order.count, 'item') %> <%= link_to "See Details", order_path(order) %>
    <%= form_tag admin_order_path(order), method: 'patch' do %>
      <%= select_tag :update_status, options_for_select([:ordered, :paid, :cancelled, :completed]), include_blank: "Update Status" %>
      <%= submit_tag 'Update' %>
    <% end %>
  </div>
  </div>
<% end %>
