</br></br></br></br>
<div class="jumbotron">
<div class="container">
<h3 class="instructions">Please Enter Your Information:</h3></br>
<div class="form_inline">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label "First name", class:"control-label" %>
      <%= f.text_field :first_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Last name", class: "control-label" %>
      <%= f.text_field :last_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Email", class:"control-label" %>
      <%= f.text_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Password", class:"control-label" %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Password confirmation", class:"control-label" %>
      <%= f.password_field :password_confirmation, class:"form-control" %>
    </div></br>

    <div class="buttons"><%= f.submit "Create Account", class:"btn btn-primary" %></div>
  </div>
<% end %>
</div></div>