<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<% if @addresses %>
  <p>Addresses:</p>
  <p><% @addresses.each do |address| %>
    <%= address.street_address %></br>
    <% if address.secondary_address %>
      <%= address.secondary_address %></br>
    <% end %>
    <%= address.city %>, <%= address.state_abbr %></br>
    <%= address.zip_code %></br>
    <%= button_to "Delete Address", user_address_path(@user, address.id), method: "delete" %>
  <% end %></p>
<% end %>
<%= button_to "Add an Address", new_user_address_path(@user), method: "get" %>