</br></br></br></br>
<div class="jumbotron">
<div class="container">
<div class="orders">
<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<h4 class="dropper"><%= @user.email %></h4>
<% if @addresses %>
  <h3>Addresses:</h3>
  <% @addresses.each do |address| %>
    <div id="items_button"><%= address.street_address %></br>
    <% if address.secondary_address %>
      <%= address.secondary_address %></br>
    <% end %>
    <%= address.city %>, <%= address.state_abbr %></br>
    <%= address.zip_code %></br>
    <%= button_to "Delete Address", user_address_path(@user, address.id), method: "delete", class: "buttons" %></br>
  <% end %></div>
<% end %>
</br>
<%= button_to "Add an Address", new_user_address_path(@user), method: "get", class: "search_button", class: "buttons" %>
<%= button_to "Edit Your Account", edit_user_path(@user), method: "get", class: "search_button", class: "buttons" %>
</div>
