<h2>Order from <%= @order.created_at %></h2>
<p> <%= @user.first_name %><%= @user.last_name %></br>
    <%= @address.street_address %>
    <% if @address.secondary_address %>
      <%= @address.secondary_address %>
    <% end %>
    <%= @address.city %>,<%= @address.state_abbr %>
    <%= @address.zip_code %>
</p>
<div class="order-info">
  <p>Status: <%= @order.status %> Quantity: <%= @quantity %> Total Price: <%= @order.total_price %></p>
  <p><%= @canceled_or_completed_message %></p>
</div>
<% @order.items.each do |item| %>
  <div class="panel panel-default">
    <%= link_to item.title, item_path(item) %>
  </div>
<% end %>
