</br></br></br></br></br></br><h2 class="cart-title">Items in your Cart</h2>
  <div class="cart-item attribute-name">
    <span class="cart-attribute">Name</span>
    <span class="cart-attribute">Price</span>
    <span class="cart-attribute label-left">Quantity</span>
  </div>
  <% @items.each do |item| %>
  <div class="item-list">
    <div class="cart-item panel panel-default">
      <span class="cart-attribute"><%= item[0].title %></span>
      <span class="cart-attribute"><%= number_to_currency(item[0].price) %></span>
      <span class="cart-attribute"><%= item[1] %></span>
      <%= link_to "+", cart_path(@cart, item_id: item[0].id, quantity_change: "increase"), method: "patch", class: "btn btn-success" %>
      <%= link_to "-", cart_path(@cart, item_id: item[0].id, quantity_change: "decrease"), method: "patch", class: "btn btn-info" %>
      <%= link_to "Remove", cart_path(@cart, item_id: item[0].id), method: "delete", class: "btn btn-danger" %>
    </div>
  </div>
  <% end %>
<div class="cart-info  cart-item panel panel-default">
  <h4>Total Cost: <%= number_to_currency(@total_cost) %></h4>
</div>
