</br></br></br>
<%= search_form_for @search do |f| %>
<div class ="form-group"></div>
  <span class="field" >
    <%= f.text_field :title_cont, class: "form-control", id: "search_bar", placeholder: "Looking for something?" %>

  </span>
</div></br></br>
<% end %>

<% @items.each do |item| %>
  <ul class="list-group row">
    <li class="col-md-2"></li>
    <li class="list-group-item col-md-4"><img src="<%= item.image %>"
      class="img-thumbnail" alt="Responsive thunbnail"</li>
    <li class="list-group-item col-md-4"><div id="item-name"><%= item.title %></div>
      <div id="item-description"><%= item.description %> <br/><div id="item-name">$<%= item.price %></div></div>
      <div class="cart-button" id="item-name"><%= button_to "Add to cart", carts_path(item_id: item.id, class:"btn btn-primary") %></li></div></div>
  </ul>
<% end %>
