</br></br></br></br></br>
<%= search_form_for @search do |f| %>
  <span class="field">
    <%= f.label :title_cont, "Item Title Contains:"%>
    <%= f.text_field :title_cont %>
  </span>
  <span class="actions">
    <%= f.submit "Item Search" %>
  </span>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.label :category_name_cont, "Category Name Contains:" %>
  <%= f.search_field :category_name_cont %>

  <span>
    <%= f.submit "Category Search" %>
  </span>
<% end %>

<% @items.each do |item| %>
  <ul class="list-group row">
    <li class="col-md-2"></li>
    <li class="list-group-item col-md-4"><img src="<%= item.image %>"
      class="img-thumbnail" alt="Responsive thunbnail"</li>
    <li class="list-group-item col-md-4"><div id="item-name"><%= item.title %></div>
      <div id="item-description"><%= item.description %> <br/><div id="item-name">$<%= item.price %></div></div>
      <div class="cart-button" id="item-name"><%= button_to "Add to cart", carts_path(item_id: item.id, class:"btn btn-primary") %></li></div></div>
  </ul>
<% end %>
