<h2><%= @item.title %></h2>
<p><%= number_to_currency(@item.price) %></p>
<p><%= @item.description %></p>
<%= image_tag(@item.image) %>
<% if @item.active? %>
  <%= button_to "Add Item", carts_path(item_id: @item.id), class: "btn btn-primary" %>
<% else %>
  <p> Item Retired </p>
<% end%>