<!DOCTYPE html>
<html>
  <head>
    <title>Gryff Outdoor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-left">
          <%= image_tag "gryffindor_crest",class: "brand" %>
        </div>
        <div class="navbar-header navbar-right">
          <%= link_to "Items", items_path, class: "navbar-text" %>
          <%= link_to "View Cart", cart_path(@cart), class: "navbar-text" %>
        </div
      </div>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert-#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
