<!DOCTYPE html>
<html>
  <head>
    <title>Gryff Outdoor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/"><%= image_tag "gryffindor_crest", class: "brand" %></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><%= link_to "Items", items_path %><span class="sr-only">(current)</span></li>
        <li class="active"><%= link_to "View Cart", cart_path(@cart) %><span class="sr-only">(current)</span></li>
        <li class="active"><%= link_to @login_status, @login_path %><span class="sr-only">(current)</span></li>
      </ul>
      </div>
		</div>
  </div>
</nav></br>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "alert alert-#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
